/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: top 1%;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding: 10px;
  z-index: 999;
}

.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: center;
}

.header-item {
  margin-right: 10px;
}

.header-separator {
  margin-right: 5px;
}
