.list-unstyled{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer {
    margin-top: 20%;
    width: 100%;
  }
  
.text-left{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    font-size: 30px;
}


.icon {
    color: black; /* Change this to the desired color */
  }
  