 .myNavbar{
    margin-top: 20px !important; 
    position:fixed !important;
  top: 40px !important;
  width: 100% !important;
  border-top: 1px solid #e2dddd !important;
  margin-left: 0 !important;
  z-index: 1 !important;
}

.navbar-brand{
    font-size: 30px !important;
}

.myNavbar .navbar-nav{
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  display: flex !important;
  
  } 
  @media (max-width: 991.98px) {
    .navbar-container {
      flex-wrap: wrap !important;
    }
  
    .ml-auto {
      margin-left: auto !important;
    }
  }
  
  .myNavbar {
    .justify-content-end {
      margin-left: auto !important;
    }
  }
  
  
  
  
  
  
  