.earing-collection {
    margin: 10px;
    padding: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
  
  }
  
.earing-collection .card {
    border: 1px solid black;
}

.earing-collection .card-img-top {
    width: 70%;
    margin-right: -392px;
}

.earing-collection .custom-card {
    margin-bottom: 0;
    background-color: black;
}

.earing-collection .custom-card:not(:first-child) {
    margin-top: 0;
}


.earing-collection-2020 {
    width: 28%; /* Adjust the width value as needed */
    height: 78%; /* Adjust the height value as needed */
    position: absolute;
    left: 80px; /* Adjust the right position value as needed */
    top: 5px; /* Adjust the top position value as needed */
    background-image: radial-gradient(rgb(39, 38, 38) 2px, transparent 4px), radial-gradient(black 1px, transparent 1px);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    background-repeat: repeat;
    padding: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
}


.earing-collection-2020 .card-title {
    margin-top: 60px;
    margin-left: -50px;
    color: rgb(225, 11, 121);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.earing-collection-2020 .card-text span{
    color: white;
    font-size: 60px;
    line-height: 60px;
    display:flex;
    margin-left: 45px;
    word-spacing: -5px;
    
}
.earing-collection-2020 .btn {
    margin-top: 20px;
    width: 70%;
    height: 15%;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 8px 16px;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Add a transition effect */
}

.earing-collection-2020 .btn:hover {
    background-color: white; /* Change the background color on hover */
    color: black; /* Change the text color on hover */
}



