.ring-collection {
    margin: -72px;
    padding: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
  }
  
  .custom-image {
    width: 50%;
    margin-right: 800px;
    object-fit: cover;
    object-position: center;
  }
  
  .ring-collection .custom-card {
    margin-bottom: 0;
    background-color: black;
  }
  
  .ring-collection .custom-card:not(:first-child) {
    margin-top: 0;
  }
  
  .ring-collection-2020 {
    font-family: 'Times New Roman', Times, serif;
    width: 28%;
    height: 88%;
    position: absolute;
    right: 80px;
    top: 5px;
    background-image: radial-gradient(rgb(39, 38, 38) 2px, transparent 4px),
      radial-gradient(black 1px, transparent 1px);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
    background-repeat: repeat;
    padding: 20px;
    text-align: center;
    white-space:pre-wrap;
    margin: 0;
    padding: 0;
  }
  
  .ring-collection-2020 .card-title {
    margin-top: 60px;
    margin-left: -50px;
    color: rgb(225, 11, 121);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .ring-collection-2020 .card-text span {
    color: white;
    font-size: 60px;
    line-height: 60px;
    display:flex;
    margin-left: 45px;
    word-spacing: -5px;
  }
  
  .ring-collection-2020 .btn {
    margin-top: 20px;
    width: 70%;
    height: 15%;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 8px 16px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .ring-collection-2020 .btn:hover {
    background-color: white;
    color: black;
  }
  
  .ring-collection-2020 .card-text {
    transition: transform 0.3s ease;
  }
  