.list-unstyled{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


.text-right a{
    text-decoration: none;
    color: black;
} 

 .footer {
    border-top: grey;
    padding: 50px;
    margin-top: 15%;
  } 
  
  .text-left.corner {
    text-align: left;
  }
  
  .text-center.center {
    text-align: center;
  }
  
  .text-right.corner {
    text-align: right;
    
  }
  
  