.ring-container {
  margin: 50px;
  padding: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
}

.ring-container .custom-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: auto;
}

.ring-container .trendRing {
  width: 18rem !important;
  border: none !important;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

}

.ring-container .trendRing .card-img-top {
  height: 350px !important;
  object-fit: cover !important;
  width: 100%;
}

.ring-container .trendRing .card-title {
  font-size: 28px !important;
  margin-bottom: 10px !important;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: rgb(82, 80, 80);
}

.ring-container .trendRing .card-text {
  font-size: 16px !important;
  color: #777 !important;
}

.ring-container .trendRing .btn {
  background-color: rgb(225, 11, 121) !important;
  border-color: rgb(225, 11, 121) !important;
  color: #fff !important;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 15px 30px;
  border: none;
  border-radius: 0;
  font-size: 14px;
  z-index: 1;
}

.ring-container .trendRing .btn:hover {
  background-color: rgb(209, 0, 110) !important;
  border-color: rgb(209, 0, 110) !important;
}


.ring-container .trendRing:nth-child(4n+2) {
  margin-top: 100px;
}

.ring-container .trendRing:nth-child(4n+4) {
  margin-top: 100px;
}

.ring-container .trendRing:nth-child(4n+1) {
  margin-bottom: 100px;
}

.ring-container .trendRing:nth-child(4n+3) {
  margin-bottom: 100px;
}

.trendRing:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}