.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-left: 20px;
  position: relative;
  height: 50px;
}

.left-section {
  display: flex;
}

.right-section {
  display: flex;
}

.header-item {
  margin-right: 10px;
}

.header-separator {
  margin-right: 5px;
}
